@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Gloria+Hallelujah&family=Lacquer&family=Shadows+Into+Light&family=Walter+Turncoat&display=swap');
body {
    font-family: "Walter Turncoat", cursive;

}

.profile {
    width: 14vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    margin-top: 1vh;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    gap: 1vh;
}

.fields {
    margin: 0 auto;
    font-size: 14px;
}

.idle {
    margin: 0 auto;
    font-size: 14px;
    border: 2px inset black;
    border-radius: 25px;
    padding: 3px 6px 3px 6px;
    background-color: rgba(160, 60, 60, 0.5)
}

.names {
    margin: 0 auto;
    font-size: 14px;
    border: 2px inset black;
    border-radius: 25px;
    padding: 3px 6px 3px 6px;
    background-color: rgba(240, 240, 240, 0.7)
}

.calm {
    margin: 0 auto;
    font-size: 14px;
    border: 2px inset black;
    border-radius: 25px;
    padding: 3px 6px 3px 6px;
    background-color: rgba(70, 150, 70, 0.5);
    animation: heartbeat 1.1s infinite;
}

.nervous {
    margin: 0 auto;
    font-size: 14px;
    border: 2px inset black;
    border-radius: 25px;
    padding: 3px 6px 3px 6px;
    background-color: rgba(150, 150, 70, 0.5);
    animation: heartbeat 0.6s infinite;
}

.scared {
    margin: 0 auto;
    font-size: 14px;
    border: 2px inset black;
    border-radius: 25px;
    padding: 3px 6px 3px 6px;
    background-color: rgba(140, 50, 50, 0.5);
    animation: heartbeat 0.3s infinite;
}

#crewBox {
    background-color: #B49A67;
    width: 90vw;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 5vh;
    padding-bottom: 2vh;
}

@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.075);
    }
    100% {
      transform: scale(1);
    }
  }