@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Gloria+Hallelujah&family=Lacquer&family=Shadows+Into+Light&family=Walter+Turncoat&display=swap');


p {
    font-size: 15px;
}

.addButton {
    background-color: rgb(60, 180, 60);
    color: black;
    font-family: "Walter Turncoat", cursive;
    border: 2px inset black;
    border-radius: 25px;
}

.patrollers {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
}

.xOut {
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.safe {
    margin: 0 auto;
    font-size: 14px;
    border: 2px inset black;
    border-radius: 25px;
    padding: 3px 6px 3px 6px;
    background-color: rgba(70, 150, 70, 0.5);
}

.danger {
    margin: 0 auto;
    font-size: 14px;
    border: 2px inset black;
    border-radius: 25px;
    padding: 3px 6px 3px 6px;
    background-color: red;
}

.lost {
    margin: 0 auto;
    font-size: 14px;
    border: 2px inset black;
    border-radius: 25px;
    padding: 3px 6px 3px 6px;
    background-color: black;
    color: red;
}